<div class="container mx-auto">
  <!-- Table header with collaborator names -->
  <div class="grid grid-cols-[auto_repeat(7,1fr)]">
    <!-- Empty div for spacing -->
    <div class="w-32 h-16"></div>
    <!-- Collaborator names -->
    @for(collaborator of collaborators; track collaborator.id){
    <div class="border text-center h-16">
      {{ collaborator.name }}
    </div>
    }
  </div>

  <!-- Table body with timeline and time slots -->
  <div class="flex">
    <!-- Timeline column -->
    <div class="w-32 flex flex-col">
      <!-- Time slots with border on the right -->
      @for(time of timeSlots; track time){
      <div class="border-b border-r text-center h-16">
        {{ time }}
      </div>
      }
    </div>

    <!-- Collaborator columns, each is a self-contained grid -->
    <div class="grid grid-cols-7 flex-1 relative" cdkDropListGroup>
      @for(collaborator of collaborators; track collaborator.id){
      <ng-container>
        <!-- Individual grid for each collaborator's column -->
        <div class="flex flex-col">
          <!-- Individual time slots -->
          @for(time of timeSlots; track time){
          <div
            cdkDropList
            [id]="getDropListIdForCollaborator(collaborator.id, time)"
            cdkDropList
            [cdkDropListData]="
              activitiesInTimeSlot(time, collaborator.activities)
            "
            [cdkDropListConnectedTo]="
              getAllDropListIdsForCollaborator(collaborator.id)
            "
            (cdkDropListDropped)="drop($event)"
            class="border-b border-r text-center h-16"
          >
            @for(activity of collaborator.activities; track trackActivity){
            <ng-container>
              @if(isActivityInTimeSlot(activity, time)){
              <div
                cdkDrag
                [ngStyle]="{
                  top: calculateTopPosition(activity),
                  height: calculateHeight(activity)
                }"
                class="absolute w-[200px] cursor-move"
                [class]="activity.color"
              >
                <span>{{ activity.description }}</span>
              </div>
              }
            </ng-container>
            }
          </div>
          }
        </div> </ng-container
      >}
    </div>
  </div>
</div>
